<div class="container">
    <h1>SeanBase2</h1>
    <div class="row">
        <div class="col">
            <%= turbo_stream_from "projects" %>
            <%= turbo_frame_tag "project_form" do %>
            <%= render "form", project: @project %>
            <% end %>
        </div>
        <div class="col-md-8 projects-container">
            <%= turbo_frame_tag "projects" do %>
            <%= render @projects %>
            <% end %>
        </div>
    </div>
</div>